# `FeatureGenerator` Example

This notebook demonstrates how to use the `FeatureGenerator` transformer to automatically create polynomial and interaction features from your dataset.

In [10]:
import sys
sys.path.insert(0, '..')

import pandas as pd
from transfory.featuregen import FeatureGenerator

## 1. Create Sample Data

First, let's create a simple DataFrame with a few numeric columns.

In [11]:
df = pd.DataFrame({
    "Height": [150, 160, 170, 180],
    "Weight": [50, 60, 70, 80]
})

print("Original DataFrame:")
df

Original DataFrame:

   Height  Weight
0     150      50
1     160      60
2     170      70
3     180      80

## 2. Apply the FeatureGenerator

Now, we'll instantiate `FeatureGenerator`. By default, it creates polynomial features up to `degree=2` and includes interaction terms (`include_interactions=True`).

In [12]:
# Create an instance of the FeatureGenerator
fg = FeatureGenerator(degree=4)

# Fit to the data and transform it
new_df = fg.fit_transform(df)

print("DataFrame with New Features:")
new_df

DataFrame with New Features:

,Height,Weight,Height^2,Height^3,Height^4,Weight^2,Weight^3,Weight^4,Height_x_Weight
0,150,50,22500,3375000,506250000,2500,125000,6250000,7500
1,160,60,25600,4096000,655360000,3600,216000,12960000,9600
2,170,70,28900,4913000,835210000,4900,343000,24010000,11900
3,180,80,32400,5832000,1049760000,6400,512000,40960000,14400