# `Scaler` Example

This notebook demonstrates how to use the `Scaler` transformer to scale numerical features. We will show both `zscore` (Standardization) and `minmax` (Normalization) methods.

In [ ]:
import sys
sys.path.insert(0, '..')

import pandas as pd
from transfory import Scaler

## 1. Create Sample Data

Let's create a simple DataFrame with a few numeric columns that have different scales.

In [2]:
df = pd.DataFrame({
    'Age': [22, 35, 19, 40],
    'Income': [40000, 95000, 32000, 120000]
})

print("Original DataFrame:")
df

Original DataFrame:

   Age  Income
0   22   40000
1   35   95000
2   19   32000
3   40  120000

## 2. Apply Z-Score Scaling

Z-score scaling (Standardization) rescales features to have a mean of 0 and a standard deviation of 1.

In [3]:
zscore_scaler = Scaler(method="zscore")
zscore_df = zscore_scaler.fit_transform(df)

print("DataFrame after Z-Score Scaling:")
zscore_df

DataFrame after Z-Score Scaling:

        Age    Income
0 -0.800327 -0.859620
1  0.685994  0.629486
2 -1.143324 -1.076218
3  1.257656  1.306352

## 3. Apply Min-Max Scaling

Min-max scaling (Normalization) rescales features to a fixed range, typically between 0 and 1.

In [4]:
minmax_scaler = Scaler(method="minmax")
minmax_df = minmax_scaler.fit_transform(df)

print("DataFrame after Min-Max Scaling:")
minmax_df

DataFrame after Min-Max Scaling:

        Age    Income
0  0.142857  0.090909
1  0.761905  0.715909
2  0.000000  0.000000
3  1.000000  1.000000